{% extends 'main/base.html' %}

{% block title %} Оформление заказа {% endblock %}

{% block content %}
<div class="create_order">
    <h1>Оформление заказа</h1>

    <p>Ваша корзина:</p>
    <ul>
        {% for item in cart.cart_items.all %}
            <li>{{ item.product.name }} - {{ item.quantity }} шт. - {{ item.total_price }}</li>
        {% endfor %}
    </ul>

    <h3>Общая сумма: {{ total_amount }}</h3>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Подтвердить заказ</button>
    </form>
</div>
{% endblock %}
