{% extends 'main/base.html' %}

{% block title %} Товары {% endblock %}

{% block content %}
    <h1>Список товаров</h1>
    <ul class="product_list">
        {% for product in products %}
            <li class="product_item">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <p>Изображение отсутствует</p>
                {% endif %}
                <h3>{{ product.name }}</h3>
                <p>{{ product.price }} руб.</p>
                <a href="{{ product.id }}/" class="btn btn-primary">Подробнее</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
