<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой интернет-магазин{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'cart' %}">Корзина</a></li>
                <li><a href="{% url 'product_list' %}">Товары</a></li>
                <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}">Войти</a>
                {% endif %}
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Мой интернет-магазин. Все права защищены.</p>
    </footer>
</body>
</html>
