html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Контейнер страницы */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Основное содержимое */
main {
    flex: 1;
    margin: 0 1rem;
}

main h1{
    margin-bottom: 4rem;
    text-align: center;
}

/* Футер */
footer {
    background-color: #0d6dfd;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;;
}

/* Хедер */
header {
    font-size: 20px;
}

header li {
    margin-left: 1rem;
    width: auto;
}

/* Стили для формы */
.logfrm , .regfrm {
    max-width: 400px;
    margin: 2rem auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.logfrm-h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5rem;
}

.logfrm label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.logfrm input[type="text"],
.logfrm input[type="password"],
.logfrm input[type="email"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 13px;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.logfrm button {
    width: 100%;
    padding: 0.5rem;
    background-color: #0d6efd;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 13px;
}

/* Контейнер для списка товаров */
.product_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
}

.product_item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product_item:hover {
    transform: scale(1.05);
}

.product_item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}

.product_item h3 {
    font-size: 1.2rem;
    margin: 8px 0;
}

.product_item p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.product_item .btn {
    margin-top: 8px;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.product_item .btn:hover {
    background-color: #0044cc;
}

/* Детали товара */
.details {

}